@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	background: #e9e9e9;
	font: 12px Arial, Tahoma, sans-serif;
}
a {
	text-decoration: none;
}
.b3radius {
	border-radius: 3px;
}
#page_align {
	width: 1000px;
	margin: 30px auto;
	background: url("../Photo/site.png") #FFF;
	box-shadow: 0px 1px 3px #DDDDDD;
	overflow: hidden;
}
#header {
	height: 95px;
	border-bottom: solid 3px #2c2c2c;
	background: #FFF;
}
#header_nav {
	height: 35px;
	border-bottom: solid 1px #F1F1F1;
}
#header_nav ul {
	list-style: none;
}
#header_nav ul li {
	float: left;
	border-left: solid 1px #F1F1F1;
}
#header_nav ul li a {
	margin-left: 10px;
	color: #868686;
	display: block;
	line-height: 35px;
	padding: 0px 7px;
}
#header_nav ul li a:hover{
	background: rgba(0,0,0,.05);
}
#header_nav ul li:last-child{
	border-right: solid 1px #F1F1F1;
}
input[name=search] {
	float: right;
	margin-right: 6px;
	margin-top: 7px;
	height: 20px;
	border: none;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,.1);
	background: #F0F0F0;
	padding: 0px 5px;
	width: 140px;
}
.search_img {
	float: right;
	margin-top: 6px;
	margin-right: 5px;
}
h1 {
	padding-top: 16px;
	padding-left: 10px;
}
#sidebar {
	width: 195px;
	background: #808080;
	border-left: solid 3px #2c2c2c;
	border-right: solid 3px #2c2c2c;
	float: left;
}
#navigation {
	margin-top: 1px;
	font-size: 1.8em;
	border-bottom: solid 3px #2c2c2c;
}
#navigation span{
	margin-left: 42px;
}
#glav {
	margin-top: 1px;
	font-size: 1.4em;
	border-bottom: solid 3px #2c2c2c;
}
#glav span a{
	margin-left: 65px;
	color: #FFF;
}
#news {
	margin-top: 1px;
	font-size: 1.4em;
	border-bottom: solid 3px #2c2c2c;
}
#news span a{
	margin-left: 65px;
	color: #FFF;
}
#forum {
	margin-top: 1px;
	font-size: 1.4em;
	border-bottom: solid 3px #2c2c2c;
}
#forum span a{
	margin-left: 70px;
	color: #FFF;
}
#soob {
	margin-top: 1px;
	font-size: 1.4em;
	border-bottom: solid 3px #2c2c2c;
}
#soob span a{
	margin-left: 48px;
	color: #FFF;
}
#content {
	float: right;
	width: 800px;
}
.clr {
	clear: both;
}

