@charset "utf-8";
/* CSS Document */
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;
}

/* Заголовок */

.container {
	wirdth: 100%;
	max-width: 1200px;
	margin: 0px auto;
}

/* Into */

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("../IMAGES/shapka_01.jpg") center no-repeat;
	background-size: cover;
}
.intro_title {
	font-size: 65px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
}
.intro_title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background-color: #fff;
	margin: 60px auto 40px;
}
.intro_inner {
	color: #fff;
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
}
.intro_suptitle {
	margin-bottom: 30px;
	font-size: 72px;
	color: #fff;
	font-family: 'Kaushan Script', cursive;
}

/* Header */

.header {
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-top: 30px;
	position: absolute;
}
.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_logo {
	font-size: 30px;
	font-weight: 700;
	color: #FFF;
}

/* Navigation */

nav {
	font-size: 14px;
	text-transform: uppercase;
}
.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 0px 15px;
	color: #fff;
	text-decoration: none;
	transition: color 0.2s linear;
	position: relative;
}
.nav_link:after{
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	background-color: #fce38a;
	opacity: 0;
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 1;
	transition: opacity 0.1s linear;
}
.nav_link:hover{
	color: #fce38a;
}
.nav_link:hover:after{
	opacity: 1;
}

/* Botton */

.btn {
	display: inline-block;
	vertical-align: top;
	border: 3px solid #fff;
	padding: 8px 30px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:hover{
	color: #333;
	background-color: #fff;
	transition: background 0.1s linear;
}

/* Section */

.section {
	padding: 80px 0px;
}
.section_header {
	width: 100%;
	max-width: 950px;
	margin: 0px auto 40px;
	text-align: center;
}
.section_suptitle {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: #333;
}
.section_title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}
.section_title:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto;
	background-color: #d98080;
}
.section_text {
	font-family: 'Roboto', sans-serif;
	color: #999;
}

/* About */

.about {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}
.about_item {
	width: 380px;
	background-color: #95e1d3;
	position: relative;
}
.about_item:hover .about_img {
	transform: translate3d(-10px, -10px, 0px)
}
.about_item:hover .about_img img{
	opacity: 0.1;
}
.about_item:hover .about_text {
	opacity: 1;
}
.about_img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
	height:250px;
	transition: transform 0.1s linear;
}
.about_img img {
	transition: opacity 0.1s linear;
}
.about_text {
	width: 100%;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	top: 50%;
	left: 0;
	z-index: 2;
	position: absolute;
	transform: translate3d(0, -50%, 0);
	opacity: 0;
	transition: opacity 0.2s linear;
}

































