@charset "utf-8";
/* CSS Document */
h1 {
    background-color: aqua;
    color: brown;
    font-size: 100%;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
